
<html lang="zh" >

<head>
  <meta charset="UTF-8">
  <title>Index</title>
  
<!--     <link rel="stylesheet" href="Blog/static/css/main.css">

    <link rel="stylesheet" href="Blog/static/css/style2.css">
    <link rel="stylesheet" href="Blog/static/css/style.css"> -->

  
</head>
<script  src="../../static/js/jquery.min.js"></script>
<style>

</style>

<body>
<div> {{ message }}</div>

<script type="text/javascript">

</script>

  

<!-- <script  src="Blog/static/js/index.js"></script> -->



</body>

</html>